.lc-llm-chat-header {
  width: 100%;
  padding: 10px;
  display: flex;
  border-width: 1px;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.8);
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
  }
  &__settings {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 10px 0;
    &-form {
      width: 100%;
    }
  }
}
