.lc-llm-chat-messages {
  &__message {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 48rem;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 0.5rem;
    color: #1f2937; // gray-800
    @media (min-width: 768px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media (min-width: 1024px) {
      width: 80%;
    }

    .dark & {
      color: #f3f4f6; // gray-100
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__name {
    font-size: 0.75rem;
    font-weight: 700;

    &--bot {
      color: #2563eb; // blue-600

      .dark & {
        color: #60a5fa; // blue-400
      }
    }

    &--user {
      color: #1f2937; // gray-800

      .dark & {
        color: #ffffff; // white
      }
    }
  }

  &__body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  &__text {
    max-width: none;

    &--user {
      white-space: pre-line;
    }

    &--user-system {
      font-style: italic;
      color: #6b7280; // gray-500
      font-size: 0.875rem;

      .dark & {
        color: #9ca3af; // gray-400
      }
    }
  }
}